body {
    background: #050A30;
    color: #ffffff;
}

.h-100-vh {
    height: 100vh;
}

/* SPLASH SCREEN */

#btn--start {
    font-size: 2.25rem;
}

/* GAME SCREEN */

.suspect {
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.suspect:hover {
    bottom: 10px;
}

.question-display {
    width: 25px;
    height: 25px;
    background-color: white;
    color: #5a6268;
}

.progress-bar-container {
    justify-content: center;
    align-items: center;
    align-self: center;
}

.progress-height {
    height: 10px;
}

.progress-bar-colour {
    background-color: #5fd6ff;
}

