body {
    background: #050A30;
    color: #ffffff;
}

.h-100-vh {
    height: 100vh;
}

/* SPLASH SCREEN */

#btn--start {
    font-size: 2.25rem;
}

/* GAME SCREEN */
.suspect {
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.suspect:hover {
    bottom: 10px;
}